<form action="/dashboard/{{posts.id}}" method="post">
    <h2>Title:</h2>
    <input type="text" name="title" value="{{posts.title}}"></input>
    <h2>Body:</h2>
    <input type="text" name="body" value="{{posts.body}}"></input>
    <button type="submit">Update</button>
</form>
